<template name="menu">
		

		<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="{{pathFor route="home"}}">Pizza Day</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="{{isActiveRoute 'home'}}"><a href="{{pathFor route="home"}}"><span class="glyphicon glyphicon-home"></span></a></li>
	        <li class="{{isActiveRoute 'groups'}}"><a href="{{pathFor route="groups"}}">Groups</a></li>
	        <li class="{{isActiveRoute 'info'}}"><a href="{{pathFor route="info"}}">Info</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        {{>loginButtons}}
	        
	      </ul>
	    </div>
	  </div>
	</nav>

  


</template>