<template name="users">
	 <div class="invite-user ">
     {{#if owner}}
      <form class="users-form">
        
  		<label for="ex2">Invite user</label>
  		<input class="form-control" id="ex2" type="text" name="users-invite-form" placeholder="user@mail.com">
	

      </form>
      {{/if}}
      <h4>Invited users:</h4>
      <div class="scroll">
        {{#each userInGroup}}
      	{{#each allowedUsers}}
          <p>{{email}} <span class="times">&times;</span></p>
        {{/each}}
        {{/each}}
  	 </div>

    </div>

</template>